<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CRUD APP</title>
</head>
<body>
    <h1>Simple CRUD app</h1>
    <hr>
    <h2>Simple form to post data to server and save it to database</h2>
    <hr>
    <form action="./quotes" method="POST">
        <p>
            <label for="name">Name:</label>
            <input id="name" type="text" name="name">
        </p>
        <p>
            <label for="quote">Quote:</label>
            <input id="quote" type="text" name="quote">
        </p>
        <button type="submit">Submit</button>
    </form>
</body>
</html>
